apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{ eks_cluster_name }}
  region: {{ aws_region }}
  version: "{{ eks_version }}"

vpc:
  id: {{ vpc_id }}
  subnets:
    private:
{% for s in private_subnets %}
      {{ s.az }}:
        id: {{ s.id }}
{% endfor %}

iam:
  withOIDC: true

managedNodeGroups:
  - name: {{ nodegroup_name }}
    amiFamily: AmazonLinux2
    instanceType: {{ nodegroup_instance_type }}
    desiredCapacity: {{ nodegroup_desired_size }}
    minSize: {{ nodegroup_min_size }}
    maxSize: {{ nodegroup_max_size }}
    privateNetworking: true
    volumeSize: {{ nodegroup_disk_size }}
    ssh:
      allow: false
    iam:
      instanceRoleARN: {{ eks_nodegroup_role_arn }}
    labels:
      env: {{ env_name }}
    tags:
      Environment: {{ env_name }}
      ManagedBy: ansible
      Project: ansible-cicd
    securityGroups:
      attachIDs:
        - {{ eks_workernodes_sg_id }}
